<table>
  <tbody>
    <tr>
      <td colspan="3"><aw-day-and-date [dayAndDate]="dayAndDate"></aw-day-and-date></td>
    </tr>
    <tr>
      <td>
        <aw-hours-and-minutes [hoursAndMinutes]="hoursAndMinutes"></aw-hours-and-minutes>
      </td>
      <td>
        <aw-seconds [seconds]="seconds"></aw-seconds>
      </td>
      <td width="100%"></td>
    </tr>
  </tbody>
</table>
<a class='btn btn-default' (click)='onSettingsToggle()'>
  <i class='glyphicon glyphicon-cog'></i>
</a>
<div [ngClass]="drawerClass" id="drawer">
  <header class="drawer__header">
    <h2>Settings</h2>
  </header>
  <div class="drawer__content">
    Time Zone
    <select [compareWith]="tzCompare" [(ngModel)]="selectedTimezone" (change)="onTimezoneChanged()">
      <option *ngFor="let tz of timezones" [ngValue]="tz">{{tz.name}}</option>
    </select>
  </div>
</div>